#tile {

  
  border: solid 2px black;
  background-color: rgb(215, 241, 166);
}
.hasImprovements{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: magenta;
  

}
.improvement{
  border: solid 1px black;
  background-color: white;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}